.searchContainer{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.searchContainer form{
    width: 100%;
}

.close-button{
    background-color: #E9B801;
}
.close-button svg{
    max-width: 24px;
    max-height: 24px;
}
.close-button:hover{
    background-color: #222522;
}
.close-button:hover svg{
    fill: #E4E4E4;
}

@media (max-width: 767px) {
    .searchContainer form input, .searchContainer form select{
        font-size: 10pt;
    }

    .close-button svg{
        max-width: 18px;
        max-height: 18px;
    }
}

@media (max-width: 480px) {
    .searchContainer form input, .searchContainer form select{
        font-size: 8pt;
        padding: 0.8em;
    }

    .close-button svg{
        max-width: 14px;
        max-height: 14px;
    }
}